@model IdentityClaims.Models.Lookup

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Lookup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LookupID" />
            <div class="form-group">
                <label asp-for="LookupCode" class="control-label"></label>
                <input asp-for="LookupCode" class="form-control" />
                <span asp-validation-for="LookupCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LookupDesc" class="control-label"></label>
                <input asp-for="LookupDesc" class="form-control" />
                <span asp-validation-for="LookupDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attribute1" class="control-label"></label>
                <input asp-for="Attribute1" class="form-control" />
                <span asp-validation-for="Attribute1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attribute2" class="control-label"></label>
                <input asp-for="Attribute2" class="form-control" />
                <span asp-validation-for="Attribute2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attribute3" class="control-label"></label>
                <input asp-for="Attribute3" class="form-control" />
                <span asp-validation-for="Attribute3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attribute4" class="control-label"></label>
                <input asp-for="Attribute4" class="form-control" />
                <span asp-validation-for="Attribute4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attribute5" class="control-label"></label>
                <input asp-for="Attribute5" class="form-control" />
                <span asp-validation-for="Attribute5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveFlag" class="control-label"></label>
                <select asp-for="ActiveFlag" class="form-control" asp-items="ViewBag.ActiveFlag"></select>
                @*<input asp-for="ActiveFlag" class="form-control" />*@
                <span asp-validation-for="ActiveFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

