@model IdentityClaims.Models.UsersViewModels.UsersEditViewModel
@{
    //ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">

                    <label asp-for="LockoutEnabled">
                        <input asp-for="LockoutEnabled" />@Html.DisplayNameFor(m => Model.LockoutEnabled)
                    </label>
                    <span asp-validation-for="LockoutEnabled" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LockoutEnd" class="control-label"></label>
                <input asp-for="LockoutEnd" class="form-control" type="date" />
                <span asp-validation-for="LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">

                    <label asp-for="EmailConfirmed">
                        <input asp-for="EmailConfirmed" />@Html.DisplayNameFor(m => Model.EmailConfirmed)
                    </label>
                    <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
